
.darkblue-custom {
  background-color: #0288d1;
}
.darkblue-custom-text {
  color: #0288d1;
}
.blue-custom {
  background-color: #03a9f4;
}
.blue-custom-text {
  color: #03a9f4;
}
.lightblue-custom {
  background-color: #b3e5fc;
}
.lightblue-custom-text {
  color: #b3e5fc;
}
.bluegray-custom {
  background-color: #607d8b;
}
.bluegray-custom-text {
  color: #607d8b;
}
.black-custom {
  background-color: #212121;
}
.black-custom-text {
  color: #212121;
}
.white-custom {
  background-color: #ffffff;
}
.white-custom-text {
  color: #ffffff;
}
